@import '~antd/dist/antd.css';
@import '~antd/dist/antd.dark.css' (prefers-color-scheme: dark);

@media (prefers-color-scheme: light) {
  .background {
    background-color: white;
  }
  .logo {
    background: rgba(0, 0, 0, 0.2);
  }
}

@media (prefers-color-scheme: dark) {
  .background {
    background-color: #141414;
  }
  .logo {
    background: rgba(255, 255, 255, 0.2);
  }
}

.shadow-1-right {
  box-shadow: 1px 0px 2px -2px rgba(0, 0, 0, 0.16),
    3px 0px 6px 0px rgba(0, 0, 0, 0.12), 5px 0px 12px 4px rgba(0, 0, 0, 0.09);
}

.shadow-1-down {
  box-shadow: 0px 1px 2px -2px rgba(0, 0, 0, 0.16),
    0px 3px 6px 0px rgba(0, 0, 0, 0.12), 0px 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.logo {
  height: 32px;
  margin: 16px;
}
